/* Style the accordion */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.4s; 
    margin-bottom: 10px;
}

/*Background color*/
.accordion.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; 
}

/*character (+)*/
.accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

/* character (-)*/
.active:after {
    content: "\2796"; 
}

/*container card */
.card-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

/* Style card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: calc(33.33% - 30px); 
    margin: 15px; 
    border-radius: 5px;
}

/* responsif */
@media screen and (max-width: 1024px) {
    .card {
        width: calc(50% - 30px); 
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(100% - 30px); 
    }
}


/*container image*/
.container {
    padding: 2px 16px;
    margin-bottom: 20px;
}

/* Style the image inside the card */
.card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto; 
}

/* Style the button */
.btn {
    background-color: #3d56f8; 
    border: none;
    color: white; 
    padding: 10px 15px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 15px;
    margin: 5px 2px; 
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

/*hover button */
.btn:hover {
    background-color: #131382; 
}
