:root{
    --carousel-background-style: rgba(0,0,0,0.7) no-repeat center center;
    --carousel-background-size: cover;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    height: 50vh;
}

.carousel-wrapper .carousel-slides {
    height: calc(100% - 20px);
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 32px;
}

.carousel-wrapper .carousel-slides .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--beige);
}

.carousel-wrapper .carousel-slides .carousel:not(.active){
    top: 0%;
    left: -100%;
}

.text-description {
    margin: 20px 60px 80px 60px;
    max-width: 700px;
}

#first {
    background: var(--carousel-background-style) url('photos/carousel-photos/anugerah-jaya-establishment.jpg');
    -webkit-background-size: var(--carousel-background-size);
    -moz-background-size: var(--carousel-background-size);
    -o-background-size: var(--carousel-background-size);
    background-size: var(--carousel-background-size);
}

#second {
    background: var(--carousel-background-style) url('photos/carousel-photos/policy-shift.jpg');
    -webkit-background-size: var(--carousel-background-size);
    -moz-background-size: var(--carousel-background-size);
    -o-background-size: var(--carousel-background-size);
    background-size: var(--carousel-background-size);
}

#third {
    background: var(--carousel-background-style) url('photos/carousel-photos/partnerships.jpg');
    -webkit-background-size: var(--carousel-background-size);
    -moz-background-size: var(--carousel-background-size);
    -o-background-size: var(--carousel-background-size);
    background-size: var(--carousel-background-size);
}

#fourth {
    background: var(--carousel-background-style) url('photos/carousel-photos/activities.jpg');
    -webkit-background-size: var(--carousel-background-size);
    -moz-background-size: var(--carousel-background-size);
    -o-background-size: var(--carousel-background-size);
    background-size: var(--carousel-background-size);
}

#fifth {
    background: var(--carousel-background-style) url('photos/carousel-photos/honor-milestones.jpg');
    -webkit-background-size: var(--carousel-background-size);
    -moz-background-size: var(--carousel-background-size);
    -o-background-size: var(--carousel-background-size);
    background-size: var(--carousel-background-size);
}

#sixth {
    background: var(--carousel-background-style) url('photos/carousel-photos/testimonies.jpg');
    -webkit-background-size: var(--carousel-background-size);
    -moz-background-size: var(--carousel-background-size);
    -o-background-size: var(--carousel-background-size);
    background-size: var(--carousel-background-size);
}

#seventh {
    background: var(--carousel-background-style) url('photos/carousel-photos/looking-forward.jpg');
    -webkit-background-size: var(--carousel-background-size);
    -moz-background-size: var(--carousel-background-size);
    -o-background-size: var(--carousel-background-size);
    background-size: var(--carousel-background-size);
}

span.nextBtn, span.prevBtn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 8px;
    color: #eee;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

span.nextBtn {
    right: 20px;
}

span.prevBtn {
    left: 20px;
}

span.nextBtn:hover, span.prevBtn:hover {
    background-color: var(--beige); 
    opacity: 0.75;
    color: #222;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
}

.dots-container .dot {
    display: inline-block;
    width: 15px;
    height: 10px;
    margin: 0 10px 5px 0;
    padding: 5px 2.5px 5px 2.5px;
    border: 2.5px solid var(--beige);
    border-radius: 50%;
    color: transparent;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.dots-container .active {
    border: 2.5px solid var(--primary-color);
    background-color: var(--primary-color); 
}

@keyframes nextOne {
    from {
        left: 0%;
    } to {
        left: -100%;
    }
}

@keyframes prevOne {
    from {
        left: 0%;
    } to {
        left: 100%;
    }
}

@keyframes nextTwo {
    from {
        left: 100%;
    } to {
        left: 0%;
    }
}

@keyframes prevTwo {
    from {
        left: -100%;
    } to {
        left: 0%;
    }
}

@media screen and (max-width: 768px){
    .carousel-wrapper{
        height: 600px;
    }
}