@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --heading-size: 53px;
    --subheading-size: 27px;
    --paragraph-size:14px;
    --footer-size:11px;

    --primary-color: #A9BF04;
    --primary-color-hover: #C5D457;
    --primary-color-pressed: #788803;

    --secondary-color:#3FA69B;
    --secondary-color-hover: #7EC3BC;
    --secondary-color-pressed: #2D766E;

    --tersiary-color:#59320F;
    --beige:#F4F0D5;
    --orange:#F27B50;

    --disabled: #D9D9D9;
    --black: #2B2B2B;
    --gray: #d2d2d2;

    --default-heading-line-height: 100%;
    --default-line-height: 160%;
    --default-container-padding: 6vh 12vw;
    --after-previous-container-padding: 2vh 12vw;
    --default-transition: all 0.3s ease-in;
    --default-border-radius: 8px;

    --bold:700;
    --medium:500;
    --regular:400;

    --background-style: no-repeat center center fixed;
    --background-size: cover;

    --background-filter-2-value: 90deg, rgba(0,0,0,1) 30%, rgba(0,212,255,0) 100%;

    --button-box-shadow-value:0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
}

*{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: var(--beige);
}

h1{
    line-height: var(--default-heading-line-height);
    font-size: var(--heading-size);
    font-weight: var(--bold);
    margin-top: 8px;
    margin-bottom: 8px;
}

h2{
    line-height: var(--default-line-height);
    font-size: var(--subheading-size);
    font-weight: var(--bold);
}

p{
    line-height: var(--default-line-height);
    font-size: var(--paragraph-size);
    font-weight: var(--medium);

    &.footer{
        line-height: var(--default-line-height);
        font-size: var(--footer-size);
        font-weight: var(--regular);
    }
}

@media screen and (max-width: 768px){
    h1{
        line-height: var(--default-heading-line-height);
        font-size: var(--subheading-size);
        font-weight: var(--bold);
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    h2{
        line-height: var(--default-line-height);
        font-size: var(--subheading-size);
        font-weight: var(--bold);
    }
    
    p{
        line-height: var(--default-line-height);
        font-size: var(--paragraph-size);
        font-weight: var(--medium);
    }
    
    p.footer{
        line-height: var(--default-line-height);
        font-size: var(--footer-size);
        font-weight: var(--regular);
    }
}

.button{ /* this is the default button style */
    padding: 1em 2.1em 1.1em;
    border-radius: var(--default-border-radius);
    margin-top: var(--default-border-radius);
    margin-bottom: var(--default-border-radius);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    -webkit-transition: var(--default-transition);
    -moz-transition: var(--default-transition);
    -o-transition: var(--default-transition);
    transition: var(--default-transition);

    font-size: var(--paragraph-size);
    position: relative;
    color: var(--black);
    background-color: var(--gray);
    font-weight: var(--bold);
    box-sizing: border-box;

    &.outline{
        background-color: transparent;
        border: 2px solid var(--black);
        color: var(--black);
    }

    &:hover{
        -webkit-box-shadow: var(--button-box-shadow-value);
        -moz-box-shadow: var(--button-box-shadow-value);
        box-shadow: var(--button-box-shadow-value);
        transform: translateY(-8px);
    }
}

.primary{
    background-color: var(--primary-color);
    color: var(--black);

    &:hover{
        background-color: var(--primary-color-hover);
        color: var(--black);
    }
}

.outline-primary-color{
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: transparent;
}

.outline-white{
    color: var(--beige);
    border: 2px solid var(--beige);
    background-color: transparent;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 2.5%;
    align-items: center;
    margin: 0;
    z-index: 100;
    position: fixed;
    height: 80px;
    width: 95%;
    background-color: var(--beige);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.logo {
    color: #FFF;
    font-size: 22px;
}

ul {
    list-style: none;

    & > li{
        display: inline-block;

        & > a {
            text-decoration: none;
            color: var(--black);
            padding: 8px 16px;
            border-radius: var(--default-border-radius);
            transition: var(--default-transition);

            &:hover{
                color: #FFF;
                background: var(--primary-color-hover);
            }

            &.active{
                font-weight: var(--bold);
                color: var(--primary-color);
                background: transparent;
                border-bottom: 4px solid var(--primary-color-pressed);
            }
        }
        
    }
}

.logo{
    width: 15vw;
}

#icon {
    background-color: var(--primary-color);
    padding: 5px 7px 3px 7px;
    border-radius: calc(var(--default-border-radius) - 4px);
    cursor: pointer;
    transition: var(--default-transition);

    & > svg{
        color: #FFF;
        height: 28px;
        transition: var(--default-transition);
    }

    &:hover{
        background: #FFF;
    }

    &:hover > svg{
        color: var(--primary-color);
    }
    
}

#checkbox,
#icon {
    display: none;
}

/* Default dropdown style */
.dropdown {
    position: relative;
    display: inline-block;

    & > a::after {
        content: ' ▼';
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: var(--default-border-radius);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 120;
    margin-top: 8px;

    & > li{
        border-radius: var(--default-border-radius);
        padding: 5px;

        &:hover{
            /*background-color: var(--primary-color);*/
            color: var(--beige);
        }
    }
}

.dropdown:hover .dropdown-content{
    display: block;
}


@media screen and (max-width: 768px) {
    .dropdown {
        & > a{
            padding:8px 16px;
            align-items: center;
    
            &::after {
                content: ' ▼';
        }

        & > ul {
            display: none;
            position: absolute;
            background-color: var(--beige);
            width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        & > li {
            display: block;
            width: 100%;
            text-align: left;
        }

        &:hover > li{
            display: block;
            }
        }
    }

    .dropdown .dropdown-content {
        position: absolute;
        top: 36px;
        left: 0;
        right: 0;
        width: auto; 
        height: fit-content;
    }

    .logo{
        width: 45vw;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 71px);
        background-color: var(--tersiary-color);
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 80px;
        padding-inline-start: 0;

        & > li{
            display: block;
            padding: 8px 16px;

            & > a{
                display: block;
                padding: 8px 0;
                color: var(--black);

                &:hover,
                &.active{
                    color: var(--black);
                }
            }
        }
 
    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
    }
}


/* styling for home page */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    
    z-index: 1;
    justify-content: center;
    gap: 16px;
    text-align: center;
    background-size:cover;
    color: var(--beige);

    &.home-bg > h1,
    &.about-us-bg > h1,
    &.blogs-bg > h1,
    &.become-a-volunteer-bg > h1,
    &.sponsor-a-child-bg > h1,
    &.contact-us-bg > h1,
    &.donate-bg > h1
    {
        position: relative;
        z-index: 1;
    }

    &.home-bg > div.button-row,
    &.about-us-bg > div.button-row,
    &.blogs-bg > div.button-row,
    &.become-a-volunteer-bg > div.button-row,
    &.sponsor-a-child-bg > div.button-row,
    &.contact-us-bg > div.button-row,
    &.donate-bg > div.button-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 1;
        gap: 16px;
    }

    &.home-bg{
        background: var(--background-style) url("../assets/photos/home-hero.jpg");
        -webkit-background-size: var(--background-size);
        -moz-background-size: var(--background-size);
        -o-background-size: var(--background-size);
        background-size: var(--background-size);
    }
    
    &.about-us-bg{
        background: var(--background-style) url("../assets/photos/about-us.jpg");
        -webkit-background-size: var(--background-size);
        -moz-background-size: var(--background-size);
        -o-background-size: var(--background-size);
        background-size: var(--background-size);
    }
    
    &.blogs-bg{
        background: var(--background-style) url("../assets/photos/blogs.jpg");
        -webkit-background-size: var(--background-size);
        -moz-background-size: var(--background-size);
        -o-background-size: var(--background-size);
        background-size: var(--background-size);
    }
    
    &.become-a-volunteer-bg{
        background: var(--background-style) url("../assets/photos/become-a-volunteer.jpg");
        -webkit-background-size: var(--background-size);
        -moz-background-size: var(--background-size);
        -o-background-size: var(--background-size);
        background-size: var(--background-size);
    }
    
    &.sponsor-a-child-bg{
        background: var(--background-style) url("../assets/photos/sponsor-a-child.jpg");
        -webkit-background-size: var(--background-size);
        -moz-background-size: var(--background-size);
        -o-background-size: var(--background-size);
        background-size: var(--background-size);
    }
    
    &.contact-us-bg{
        background: var(--background-style) url("../assets/photos/contact-us.jpg");
        -webkit-background-size: var(--background-size);
        -moz-background-size: var(--background-size);
        -o-background-size: var(--background-size);
        background-size: var(--background-size);
    }
    
    &.donate-bg{
        background: var(--background-style) url("../assets/photos/donate.jpg");
        -webkit-background-size: var(--background-size);
        -moz-background-size: var(--background-size);
        -o-background-size: var(--background-size);
        background-size: var(--background-size);
    }
}

.background-filter {
    position: relative;

    &::after {
        -webkit-backdrop-filter: blur(3px); 
        backdrop-filter: blur(3px); 
        background: linear-gradient(to top, rgba(255,0,0,0) 0%,rgba(0, 0, 0, 0.65) 100%);
        content: "";
        display: block;
        position: absolute;
        width: 100%; height: 100%;
        top: 0;
      }
}

p.subheader{
    width: 50%;
    position: relative;
    z-index: 1;
}

nav.transparent{
    height: 80px;
    background-color: transparent;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);

    & > ul li a{
        color: var(--beige);

        &:hover{
            color: var(--black);
            background: var(--primary-color-hover);
        }

        &.active{
            font-weight: var(--bold);
            color: var(--primary-color);
            background: transparent;
            border-bottom: 4px solid var(--primary-color-pressed);
        }
    }
}

section.home-aboutus > div.second-part > img{
    width:100%;
}

section.home-aboutus,
section.aboutus-mission-vision,
section.aboutus-whywedoit{
    display: flex;
    flex-direction: row;
    padding: var(--default-container-padding);
    gap: 32px;
    align-items: center;
}

section.sponsor-a-child-whatdoyouexpect{
    display: flex;
    flex-direction: row-reverse;
    padding: var(--default-container-padding);
    gap: 32px;
    align-items: center;
    justify-content:space-between;
}

section.home-aboutus > p,
section.aboutus-whywedoit > p{
    width: 75%;
}

section.home-whatwedo,
section.aboutus-our-history,
section.home-recent-blogs,
section.aboutus-whyweexist,
section.sponsor-a-child
{
    display: flex;
    flex-direction: column;
    padding: var(--after-previous-container-padding);
    gap: 32px;
    align-items: center;
    text-align: center;
}

section.sponsor-a-child > div.scholarship-living-support{
    display:flex;
    flex-direction: row;
    gap:16px;
}



/* Style the card */
div.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: var(--default-transition);
    width: 30%; 
    margin: 8px;
    border-radius: 16px;
    text-align: left;
    width: 100%;

    &:hover {
        transform: translateY(-12px);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    & > div.image-container{
        height: 200px;
    
        & > img{
            border-radius: 16px 16px 0 0;
            object-fit: cover;
            height: 200px;
            width: 100%;
        }
    
    }
}

/* Card Content Container for the image and text */
.container {
    padding: 20px;
}

/* Style the date */
.date {
    color: #888;
}

.second-part{
    display: flex;
    flex-direction: row;
}

section.home-letsgetinvolved
{
    display: flex;
    flex-direction: column;
    padding: var(--after-previous-container-padding);
    gap: 32px;
    align-items: center;
    text-align: center;
}

section.home-letsgetinvolved > div.content,
section.aboutus-mission-vision > div.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    width: 100%;
}

div.content{
    & > div.first-part { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    & > div.second-part { 
        grid-area: 1 / 2 / 2 / 3; 
    }
    
    & > div.third-part { 
        grid-area: 2 / 1 / 3 / 3; 

        & > div.letsgetinvolved-card{
            color: var(--beige);
            background-image: url(../assets/photos/sponsor-a-child.jpg);
            background-position-y: 50%;
            background-repeat: no-repeat;
            background-size:cover;

            & > div.container{
                position: relative;
                z-index: 1;
              }
        }
    }
} 

div.letsgetinvolved-card {
    border: 2px solid var(--gray);
    transition: var(--default-transition);
    width: 100%;
    border-radius: 16px;
    text-align: left;
    width: 100%;

    &:hover{
        transform: translateY(-12px);
        border: 2px solid var(--primary-color-hover);
    }
}

.background-filter-2 {
    position: relative;
    border-radius: 16px;

    &::after {
        border-radius: 16px;
    
        background: -moz-linear-gradient(var(--background-filter-2-value));
        background: -webkit-linear-gradient(var(--background-filter-2-value));
        background: linear-gradient(var(--background-filter-2-value));
    
        content: "";
        display: block;
        position: absolute;
        width: 100%; height: 100%;
        top: 0;
      }
}

  @media screen and (max-width: 768px) {
    header.home > div.button-row{
        flex-direction: column;
    }

    p.subheader{
        width:80%;
    }

    section.home-aboutus,
    section.aboutus-whywedoit,
    section.sponsor-a-child-whatdoyouexpect
    {
        flex-direction: column;
    }

    .second-part{
        flex-direction: column;
    }

    section.home-letsgetinvolved > div.content,
    section.aboutus-mission-vision > div.content{
        display: flex;
        flex-direction: column;
    }
    div.letsgetinvolved-card{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .background-filter-2::after{
        background: -moz-linear-gradient(var(--background-filter-2-value));
        background: -webkit-linear-gradient(var(--background-filter-2-value));
        background: linear-gradient(var(--background-filter-2-value));
    }
}

img.blog-image{
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


section.blogs-main{
    display: flex;
    flex-direction: column;
    padding: var(--default-container-padding);
    gap: 32px;
    align-items: center;
    text-align: center;

    & > .second-part{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }
}

img.whywedoit-img{
    object-fit: cover;
    border-radius: 32px;
    width: 400px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

@media screen and (max-width: 768px){
    section.blogs-main > .second-part{
        display: flex;
        flex-direction: column;
    }

    img.whywedoit-img{
        border-radius: 32px;
        width: 100vw;
    }

    section.sponsor-a-child > div.scholarship-living-support{
        flex-direction:column;
    }
}

/* Style the accordion */
.accordion {
    background: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--gray);
    outline: none;
    transition: background-color 0.4s; 
    font-weight: var(--bold);
    font-size: var(--subheading-size);

    &.active{
        color: var(--primary-color-pressed);

        /* character (-)*/
        &::after{
            content: "\2796"; 
            color: var(--primary-color-pressed);
        }
    }

    &:hover{
        color: var(--primary-color-hover);
    }

    /*character (+)*/
    &::after{
        content: '\02795'; 
        font-size: var(--paragraph-size);
        color: var(--black);
        float: right;
        margin-left: 5px;
    }
}

/* Style the accordion panel */
.panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; 
}

div.accordion-container{
    padding: 24px 32px;
}

/* responsif */
@media screen and (max-width: 1024px) {
    .card {
        width: calc(50% - 30px); 
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(100% - 30px); 
    }
}

section.aboutus-whyweexist > div.second-part{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    border: 2px solid var(--gray);
    border-radius: 16px;
    }

section.others{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        padding: var(--default-container-padding);
    
        & > div.contact-info{
            display: flex;
            flex-direction: row;
            width: 100%;
            gap:16px;
    
            & > .card{
                display: flex;
                align-items: center;
                background-color: var(--beige);
                color: var(--black);
                margin: 0;
    
                &:nth-child(1){
                    background-color: var(--primary-color);
                }
    
                &:nth-child(2){
                    background-color: var(--gray);
                }
    
                &:nth-child(3){
                    background-color: #f4c152;
                }
    
                &:nth-child(4){
                    background-color: #547fff;
                }
    
                & > .container{
                    display:flex;
                    flex-direction: row;
                    column-gap: 16px;
                    align-items: center;
    
                    & > img.svg-icon{
                        width: 30px;
                        height: 30px;
                        padding: 16px;
                        border: 2px solid var(--black);
                        border-radius:999px;
    
                    }
    
                }
    
            }
        }
    
        & > div.signup-newsletter{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
    
            & > h3{
                color: var(--beige);
                width: 50%;
            }
    
            & > form,
            & > form > div.newsletter-details{
                display:flex;
                flex-direction: row;
                gap:8px;
            }
        }
    
        & > div.copyright{
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
    
            & > div.first-part{
                color:var(--beige);
            }
    
            & > div.second-part > ul{
                list-style-type: none;
    
                & > li > a{
                    color: var(--beige);
    
                    &:hover{
                        background-color: transparent;
                    }
                }
    
            }
            
        }
} 

/* footer */
footer{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: var(--default-container-padding);
    background-color: var(--black);

    & > div.contact-info{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap:16px;

        & > .card{
            display: flex;
            align-items: center;
            background-color: var(--beige);
            color: var(--black);
            margin: 0;

            &:nth-child(1){
                background-color: var(--primary-color);
            }

            &:nth-child(2){
                background-color: var(--gray);
            }

            &:nth-child(3){
                background-color: #f4c152;
            }

            &:nth-child(4){
                background-color: #547fff;
            }

            & > .container{
                display:flex;
                flex-direction: row;
                column-gap: 16px;
                align-items: center;

                & > img.svg-icon{
                    width: 30px;
                    height: 30px;
                    padding: 16px;
                    border: 2px solid var(--black);
                    border-radius:999px;

                }

            }

        }
    }

    & > div.signup-newsletter{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        & > h3{
            color: var(--beige);
            width: 50%;
        }

        & > form,
        & > form > div.newsletter-details{
            display:flex;
            flex-direction: row;
            gap:8px;
        }
    }

    & > div.copyright{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & > div.first-part{
            color:var(--beige);
        }

        & > div.second-part > ul{
            list-style-type: none;

            & > li > a{
                color: var(--beige);

                &:hover{
                    background-color: transparent;
                }
            }

        }
        
    }
} 

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
}

.input-label {
	color: var(--beige);
	position: absolute;
	top: 1.5rem;
	transition: var(--default-transition);
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid var(--beige);
	font: inherit;
    color: var(--beige);
	padding: 0.25rem 0;
	&:focus,
	&:valid {
		outline: 0;
		border-bottom-color: var(--primary-color);
		& + .input-label {
			color: var(--primary-color);
			transform: translateY(-1.5rem);
		}
	}
}

div.donate-with-qris{
    display:flex;
    align-items: center;
    flex-direction:row;
    gap: 16px;
    padding: var(--after-previous-container-padding);

    & > div.first-part{
        text-align: left;
    }

    & > div.second-part > img{
        border-radius: 32px;
        border: 6px solid var(--primary-color);
        padding: 8px;
    }
}

form.contact-us-form{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    row-gap: 16px;
    column-gap: 16px;
    border-radius: 24px;
    border: 4px solid var(--primary-color);

    & > div.user-details{
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        & > div.row{
            display: flex;
            flex-direction: row;
            column-gap: 16px;
        }
    }
}

.form-col textarea {
    width: 100%;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    div.donate-with-qris{
        padding: 16px;
        flex-direction: column;
        gap: 4px;
    }

    section.others{
        & > div.contact-info{
            flex-direction:column;
        }
    }

    form.contact-us-form{
        width: 400px;
    }

    footer{
        & > div.signup-newsletter,
        & > div.signup-newsletter > form,
        & > div.signup-newsletter > form > div.newsletter-details{
            flex-direction: column;
        }

        & > div.signup-newsletter > h3{
            width:100%;
        }

        & > div.contact-info{
            flex-direction:column;
        }

        & > div.copyright{
            flex-direction: column-reverse;
        }
    }
}