@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.carousel-wrapper {
    position: relative;
    width: 1400px;
    height: 600px;
}

.carousel-wrapper .carousel-slides {
    height: calc(100% - 20px);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-wrapper .carousel-slides .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.carousel-wrapper .carousel-slides .carousel:not(.active){
    top: 0%;
    left: -100%;
}

.text-description {
    margin: 20px 100px 80px 100px;
    max-width: 700px;
}

.text-description h1 {
    font-size: clamp(45px, 4.5vw, 63px);
    margin-bottom: 10px;
}

.text-description h2 {
    font-size: clamp(30px, 2.5vw, 40px);
    margin-bottom: 15px;
}

.text-description p {
    font-size: clamp(14px, 1.2vw, 17px);
    margin-top: 15px;
}

#first, #fourth, #sixth {
    background: rgba(0,0,0,0.7)url("sample-asset/nature1.png");
    background-size: 1400px 640px;
}

#second, #fifth, #seventh {
    background: rgba(0,0,0,0.7)url("sample-asset/nature2.png");
    background-size: 1400px 640px;
}

#third {
    background: rgba(0,0,0,0.7)url("sample-asset/nature3.png");
    background-size: 1400px 640px;
}

span.nextBtn, span.prevBtn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 14px;
    color: #eee;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

span.nextBtn {
    right: 20px;
}

span.prevBtn {
    left: 20px;
}

span.nextBtn:hover, span.prevBtn:hover {
    background-color: #fff; 
    opacity: 0.75;
    color: #222;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
}

.dots-container .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px 5px 0;
    padding: 5px 2.5px 5px 2.5px;
    border: 2.5px solid #fff;
    border-radius: 50%;
    color: transparent;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.dots-container .active {
    background-color: #fff; 
}

@keyframes nextOne {
    from {
        left: 0%;
    } to {
        left: -100%;
    }
}

@keyframes prevOne {
    from {
        left: 0%;
    } to {
        left: 100%;
    }
}

@keyframes nextTwo {
    from {
        left: 100%;
    } to {
        left: 0%;
    }
}

@keyframes prevTwo {
    from {
        left: -100%;
    } to {
        left: 0%;
    }
}